[Unit]
Description=OpenSSH Daemon (Phabricator)
Wants=sshdgenkeys.service
After=sshdgenkeys.service
After=network.target

[Service]
PIDFile=/run/sshd-phabricator.pid
ExecStart=/usr/bin/sshd -D -f /etc/ssh/phab_sshd_config
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target

# This service file runs an SSH daemon that forks for each incoming connection.
# If you prefer to spawn on-demand daemons, use sshd.socket and sshd@.service.
